body{
    background-color:#d0d0d0;
    margin: 5px;
    padding: 20px;
    
}

ul{
    list-style: none;
}

a{
    text-decoration: none;
    display: block;
    width: 100%;
}

section{
    width: 100%;
    height: 95vh; 
    background-image: url("images/bg.png");
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    background-color: #FFFFFF;
    box-shadow: 10px 10px 2px 1px rgba(0, 0, 0, .2);
    padding: 0px 5%;
    border-radius: 7px;
}

nav ul{
    display: flex;
}
nav ul li a{
    margin: 30px;
    font-family: sans-serif;
    color: #505050;
    font-size: 18px;
    font-weight: 700;
    cursor: pointer;
}
.logo{
    font-family: Cambria, Cochin, Georgia, Times, serif;
    color: #000000;
    font-size: 22px;
}
.active{
    font-weight: bold;
    color: #2d2a2a;
}
.filmTitle{
    top: 35px;
    position: relative;
    color: black;
    left: 40%;
}
.film{
    position: relative;
    top: 40px;
    left: 17%;
    border-radius: 15px;
    box-shadow: 10px 10px 2px 1px rgba(0, 0, 0, .2);
}
iframe{
    border-radius: 15px;
    box-shadow: 10px 10px 2px 1px rgba(0, 0, 0, .2);
}
.about-container{
    position: relative;
    top: 100%;
    width: 80%;
    height: 100%;
    background-color: white;
    border-radius: 20px;
    box-shadow: 10px 10px 2px 1px rgba(0, 0, 0, .2);
    /* display: flex; */
    margin:  20px auto;
    justify-content: space-evenly;
    align-items: center;
    
}
.about-text{
    position: relative;
    margin: 10%;
    font-size: 20px;
    padding: 10px;
}
.box-container{
    display: flex;
    justify-content: space-between;
}
.box-1, .box-2, .box-3, .box-4{
    width: 230px;
    height: 280px;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 10px;
    box-shadow: 10px 10px 2px 1px rgba(0, 0, 0, .2);
    justify-content: center;
    display: flex;
    flex-direction: column;
}

.box-1{
    background-image: url("images/Zunair.jpg");
}
.box-2{
    background-image: url("images/Nurgazy.jpg");
}
.box-3{
    background-image: url("images/Usman.jpg");
}
.box-4{
    background-image: url("images/Sony.jpg");
}
.info-section{
    box-shadow: 10px 10px 2px 1px rgba(0, 0, 0, .2);
    background-color: white;
    border-radius: 20px;
    font-family: Calibri;
    color: black;
    font-size: 20px;
    position: relative;
    top: 80%;

}
.heading, .details{
    position: relative;
    left: 20%;
}

.read-more-button{
    font-family: Calibri;
    background-color: black;
    color: white;
    width: 70%;
    justify-content: center;
    font-size: 20px;
    position: relative;
    border-radius: 5px;
    top: 85%;
    left: 10%;
}
.contact-us-section{
    position: relative;
    
    top: 180px;
    font-size: 20px;
    justify-content: center;
    margin: auto;
    width: 50%;
    text-align: center;
}
.invitation-paragraph{
    border-radius: 10px;
    color: black;
    box-shadow: 10px 10px 2px 1px rgba(0, 0, 0, .2);
    background-color: white;
    justify-content: center;
}

.contact-us-button{
    font-family: Calibri;
    background-color: black;
    color: white;
    width: auto;
    margin: auto;
    justify-content: center;
    font-size: 20px;
    position: relative;
    border-radius: 5px;
    top: 85%;
}

.workout-materials{
    position: relative;
    top: 180px;
    margin: 5%;
    /* justify-content: center; */
}
.video-container{
    justify-content: space-between;
    display: flex;
    margin: auto;
}
.video-container-two{
    position: relative;
    top: 40px;
    justify-content: space-between;
    display: flex;
    margin: auto;
}
.gif{
    position: relative;
    justify-content: center;
    display: flex;
}
.do-it-gif{
    position: relative;
    width: auto;
    /* margin: 10%; */
    top: 200px;
    /* left: 35%; */
    box-shadow: 10px 10px 2px 1px rgba(0, 0, 0, .2);
    border-radius: 10px;
}
