body{
    margin: 0px;
    padding: 0px;
    
}

ul{
    list-style: none;
}

a{
    text-decoration: none;
    display: block;
    width: 20%;
    color: black;
    cursor: pointer;
}
p{
    font-family: sans-serif;
    width: 70%;
    line-height:2;
}

input{
    font-family: sans-serif;  
}

nav{
    display: flex; /*flexes items horizontally*/
    justify-content: space-between;
    align-items: center;
    height: 60px;
    background-color: #FFFFFF;
    padding: 0px 5%;
}

nav ul{
    display: flex;
    
}
 /* background turns blue while being hovered over */
li:hover{
    display: inline;
    position: relative;
    justify-content: space-between;
    background-color: violet;
}

nav ul li a{
    margin: 30px;
    display: flex;
    justify-content: stretch;
    font-family: sans-serif;
    color: #505050;
    width: auto;
    font-size: 18px;
    font-weight: 700;
    /* cursor: pointer; */
}
section{
    width: 100%;
    height: 100vh; 
    background-color: violet;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;

}
.page-content{
    border-radius: 10px;
    width: 70vw;
    height: 70vh;
    margin: auto;
    position: relative;
    top: 9vh;
    background-color: wheat;
    
}
.start-button-container{
    background-color:white;
    width: 8%;
    border-radius: 5px;
    height: auto;
    font-size: 24px;
    position: relative;
    left: 43%;
    top: 93%;
}
.next-button-container{
    background-color:white;
    width: 5%;
    border-radius: 5px;
    height: auto;
    font-size: 24px;
    position: relative;
    left: 43%;
    top: 80%;
}
.option-button-container{
    position: relative;
    display: flex;
    justify-content: space-around;
    top: 80%;
}
.option-one-button, .option-two-button{
    background-color:white;
    width: 10%;
    border-radius: 5px;
    height: auto;
    font-size: 24px;
    position: relative;
}
.option-one-button{
}
.option-two-button{
   
}
